spring:
  datasource:
    url: jdbc:postgresql://34.47.116.190:5432/postgres
    username: postgres
    password: 07reading&
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect